{
  "swagger": "2.0",
  "info": {
    "description": "Lender Desk is a powerful web service that provides rebate and incentive offers directly from captive manufacturers and select non-captive finance companies, based on varying credit tiers and geography. With data for all U.S. makes and models, it enables you to provide the best possible payment options to all – including customers with lower credit scores.\nLender Desk presents information in an easy-to-use interface. It provides users with additional information such as transaction type (lease, loan and cash), lenders, program term, credit tier, credit score and more. Thanks to automatic daily updates, users can process requests for available incentive and rebate programs almost instantaneously. \nThe Lender Desk API has 16 operations:\n\n\n**GETbundle** - Returns a list of bundle ids of the user.\n\n\n**Note**: A bundle allows you to group multiple vehicle and zip/postal code combinations together so that you can use the bundle operations to determine whether incentives data has changed for those combinations over time.\n\n\n**GETbundle/{bundleId}/details** - Returns a list of vehicle and zip/postal code combinations available in the specified bundle of the user.\n\n\n**GETbundle/{bundleId}/changed** - Returns a list of vehicle and zip/postal code combinations that have data changes in the specified bundle of the user.\n\n\n**GETbundle/{bundleId}/changed/vehicles** - Returns a list of vehicles that have data changes in the specified bundle of the user.\n\n\n**GETbundle/{bundleId}/changed/locations** - Returns a list of zip/postal codes that have data changes in the specified bundle of the user.\n\n\n**DELETEbundle/{bundleId}/delete** - Deletes the specified bundle of the user.\n\n\n**DELETEbundle/{bundleId}/delete/{vehicle}/{zip}** - Deletes the specified vehicle and zip/postal code in the specified bundle of the user.\n\n\n**GETtiers** - Returns a list of all available tiers for all available lenders.\n\n\n**GETlendertiers** - Returns a list of tiers for a specified lender.\n\n\n**POSTlenderPrograms** - Returns a list of programs for the specified lenders and the specified transaction type. This operation also returns the OEM rebates that go with the lender programs.\n\n\n**POSTenhancedIncentives/offers** - Returns a list of lease or loan rates and additional cash offers for that rate. \n\n\n**POSTenhancedIncentives/optimizedOffers** - Returns a list of stackable combination of and the cash total for cash offers.\n\n\n**POSTenhancedIncentives** - Returns a list of programs for all lenders and all transaction type. \n\n\n**Note**: This operation differs from the Lender Programs operation in that it returns incentives from captive manufacturers as well as non-captive finance companies. To get non-captive incentives using the Lender Programs operation, you need to know specific lenderIds for those non-captive finance companies, but this is not the case for the Enhanced Incentives operation.\n\n\n**GETlenders** - Returns a list of lenders.\n\n\n**GETrebates** - Returns a list of OEM rebates for a specific vehicle and zip/postal code.\n\n\n**GETreleaseData** - Returns information pertaining to the latest update of the incentive data by country, division and year combination.",
    "version": "4.6premium",
    "title": "Lender Desk API Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "lenderdesk.api.chromedata.com:80",
  "basePath": "/v4.6.premium/lenderDesk",
  "schemes": [
    "http",
    "https"
  ],
  "tags": [
    {
      "name": "bundle-controller",
      "description": "Bundle Controller"
    },
    {
      "name": "enhanced-incentives-controller",
      "description": "Enhanced Incentives Controller"
    },
    {
      "name": "lender-controller",
      "description": "Lender Controller"
    },
    {
      "name": "lender-details-controller",
      "description": "Lender Details Controller"
    },
    {
      "name": "program-and-rebates-controller",
      "description": "Program And Rebates Controller"
    },
    {
      "name": "release-data-controller",
      "description": "Release Data Controller"
    }
  ],
  "paths": {
    "/bundle": {
      "get": {
        "tags": [
          "bundle-controller"
        ],
        "summary": "Returns a list of bundle ids of the user.",
        "operationId": "getUserBundlesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserBundleResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bundle/{bundleID}/changed/{identifier}": {
      "get": {
        "tags": [
          "bundle-controller"
        ],
        "summary": "Returns a list of vehicles or locations that has data changes in the specified bundle of the user",
        "operationId": "getChangedVehiclesOrLocationsByBundleIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleID",
            "in": "path",
            "description": "Identifies the bundle that is being checked for changes to vehicles or locations data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Identifies the changed data as either vehicles or locations.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BundleStatusResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bundle/{bundleId}/changed": {
      "get": {
        "tags": [
          "bundle-controller"
        ],
        "summary": "Returns a list of vehicle and zip that has data changes in the specified bundle of the user.",
        "operationId": "getBundleStatusUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "description": "Identifies the bundle that is being checked for changes.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BundleStatusResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bundle/{bundleId}/delete": {
      "delete": {
        "tags": [
          "bundle-controller"
        ],
        "summary": "Deletes the specified bundle of the user.",
        "operationId": "deleteBundleUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "description": "Identifies the bundle that is being deleted.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bundle/{bundleId}/delete/{vehicle}/{zip}": {
      "delete": {
        "tags": [
          "bundle-controller"
        ],
        "summary": "Deletes the specified vehicle and zip in the specified bundle of the user.",
        "operationId": "deleteVehicleZipUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "description": "Identifies the bundle from which to delete the vehicle and zip/postal code combination.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vehicle",
            "in": "path",
            "description": "Identifies the vehicle to be deleted from the bundle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zip",
            "in": "path",
            "description": "Identifies the zip/postal code to be deleted from the bundle.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BundleStatusResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bundle/{bundleId}/details": {
      "get": {
        "tags": [
          "bundle-controller"
        ],
        "summary": "Returns a list of vehicle and zip available in the specified bundle of the user.",
        "operationId": "getAllVehicleZipUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "description": "Identifies the bundle for which to fetch vehicle and zip/postal code combinations.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BundleDetailsResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/divCodes": {
      "get": {
        "tags": [
          "release-data-controller"
        ],
        "summary": "Returns information of Division Details",
        "operationId": "getAvailableDivisionCodeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is an optional parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DivisionCodeResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enhancedIncentives/offers/{vehicleId}/{zipCode}": {
      "post": {
        "tags": [
          "enhanced-incentives-controller"
        ],
        "summary": "Returns a list of lease or loan rates and additional cash offers for that rate",
        "operationId": "getEnhancedIncentivesOffersUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "query",
            "description": "bundleId",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "conditionMet",
            "in": "query",
            "description": "Similar to the qualificationsMet attribute, the conditionsMet attribute represents if the program is applicable to the specific person looking to purchase the vehicle and refers to if their characteristic’s qualify them for the program. These characteristics refer to specific previous ownership qualification.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is a required parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "12345"
          },
          {
            "name": "debug",
            "in": "query",
            "description": "debug",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "distancePerYear",
            "in": "query",
            "description": "An optional parameter to filter lease transactions with lower mileage restrictions.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1500
          },
          {
            "name": "onlyNational",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only national programs should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "name": "previousOwnershipDetails",
            "in": "query",
            "description": "An optional parameter that when set to false, the additional vehicle details related to the previous ownership programs will not be returned in the response.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "qualificationsMet",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only programs with vehicle options matching the request should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The following are input parameters for making requests to this web service.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LenderProgramsRequest"
            },
            "x-examples": {
              "application/json": "{\n  \"transType\": \"Lease\",\n  \"lenders\": \"US-11,US-17\",\n  \"terms\": \"12,36,41\",\n  \"tiers\": \"S\",\n  \"rebates\": \"7224110,7117290\",\n  \"creditScore\": 300,\n  \"ratesType\": \"Standard\",\n  \"programDate\": \"2018-01-31\",\n  \"customerKey\": \"string\",\n  \"onlyNational\": \"false\"\n}"
            }
          },
          {
            "name": "transactionId",
            "in": "header",
            "description": "Identifies an optional id that you can pass in the header of every request. It is recorded with the server-side operations log and returned in the response. When you find an error or an unexpected response (i.e., an empty response body), you can contact the help desk with the transaction id, and they can trace the error through the log files.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Identifies the vehicle for which you want lender programs and rebates returned. Currently, styleIDs and VINs are supported (i.e., 392526). VINs must contain all 17 characters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zipCode",
            "in": "path",
            "description": "Identifies the zip code for which you want lender programs and rebates returned (i.e., 85711).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnhancedIncentivesOfferResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enhancedIncentives/optimizedOffers/{vehicleId}/{zipCode}": {
      "post": {
        "tags": [
          "enhanced-incentives-controller"
        ],
        "summary": "Returns a list of optimized guaranteed cash offers",
        "operationId": "getOptimizedOffersUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "query",
            "description": "bundleId",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "conditionMet",
            "in": "query",
            "description": "Similar to the qualificationsMet attribute, the conditionsMet attribute represents if the program is applicable to the specific person looking to purchase the vehicle and refers to if their characteristic’s qualify them for the program. These characteristics refer to specific previous ownership qualification.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is a required parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "12345"
          },
          {
            "name": "debug",
            "in": "query",
            "description": "debug",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "distancePerYear",
            "in": "query",
            "description": "An optional parameter to filter lease transactions with lower mileage restrictions.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1500
          },
          {
            "name": "onlyNational",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only national programs should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "name": "previousOwnershipDetails",
            "in": "query",
            "description": "An optional parameter that when set to false, the additional vehicle details related to the previous ownership programs will not be returned in the response.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "qualificationsMet",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only programs with vehicle options matching the request should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "in": "body",
            "name": "request",
            "description": "Identifies a list of conditions to return for maxConfiguredCash.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/OptimizedOffersRequest"
            },
            "x-examples": {
              "application/json": "{\n  \"transType\": \"Lease\",\n  \"lenders\": \"US-11,US-17\",\n  \"terms\": \"12,36,41\",\n  \"tiers\": \"S\",\n  \"rebates\": \"7224110,7117290\",\n  \"creditScore\": 300,\n  \"ratesType\": \"Standard\",\n  \"programDate\": \"2018-01-31\",\n  \"customerKey\": \"string\",\n}"
            }
          },
          {
            "name": "transactionId",
            "in": "header",
            "description": "Identifies an optional id that you can pass in the header of every request. It is recorded with the server-side operations log and returned in the response. When you find an error or an unexpected response (i.e., an empty response body), you can contact the help desk with the transaction id, and they can trace the error through the log files.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Identifies the vehicle for which you want lender programs and rebates returned. Currently, styleIDs and VINs are supported (i.e., 392526). VINs must contain all 17 characters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zipCode",
            "in": "path",
            "description": "Identifies the zip code for which you want lender programs and rebates returned (i.e., 85711).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OptimizedOfferResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enhancedIncentives/{vehicleId}/{zipCode}": {
      "post": {
        "tags": [
          "enhanced-incentives-controller"
        ],
        "summary": "Returns a list of programs for all lenders and all transaction types",
        "operationId": "getEnhancedIncentivesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "query",
            "description": "bundleId",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "conditionMet",
            "in": "query",
            "description": "Similar to the qualificationsMet attribute, the conditionsMet attribute represents if the program is applicable to the specific person looking to purchase the vehicle and refers to if their characteristic’s qualify them for the program. These characteristics refer to specific previous ownership qualification.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is a required parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "12345"
          },
          {
            "name": "debug",
            "in": "query",
            "description": "debug",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "distancePerYear",
            "in": "query",
            "description": "An optional parameter to filter lease transactions with lower mileage restrictions.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1500
          },
          {
            "name": "lenderIds",
            "in": "query",
            "description": "lenderIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "All"
          },
          {
            "name": "onlyNational",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only national programs should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "name": "previousOwnershipDetails",
            "in": "query",
            "description": "An optional parameter that when set to false, the additional vehicle details related to the previous ownership programs will not be returned in the response.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "qualificationsMet",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only programs with vehicle options matching the request should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "in": "body",
            "name": "request",
            "description": "The following are input parameters for making requests to this web service.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LenderProgramsRequest"
            },
            "x-examples": {
              "application/json": "{\n  \"transType\": \"Lease\",\n  \"lenders\": \"US-11,US-17\",\n  \"terms\": \"12,36,41\",\n  \"tiers\": \"S\",\n  \"rebates\": \"7224110,7117290\",\n  \"creditScore\": 300,\n  \"ratesType\": \"Standard\",\n  \"programDate\": \"2018-01-31\",\n  \"customerKey\": \"string\",\n}"
            }
          },
          {
            "name": "transactionId",
            "in": "header",
            "description": "Identifies an optional id that you can pass in the header of every request. It is recorded with the server-side operations log and returned in the response. When you find an error or an unexpected response (i.e., an empty response body), you can contact the help desk with the transaction id, and they can trace the error through the log files.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Identifies the vehicle for which you want lender programs and rebates returned. Currently, styleIDs and VINs are supported (i.e., 392526). VINs must contain all 17 characters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zipCode",
            "in": "path",
            "description": "Identifies the zip code for which you want lender programs and rebates returned (i.e., 85711).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnhancedIncentivesResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/lender/tiers": {
      "get": {
        "tags": [
          "lender-controller"
        ],
        "summary": "Returns a list of available tiers for all available lenders",
        "operationId": "getLenderTiersUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "customerKey",
            "in": "query",
            "description": "Identifies your customer key. Use this optional parameter if you want your own lender IDs instead of Chrome lender IDs returned in the response. Mappings from Chrome Lender ID to custom customer ID must be provided to Chrome Data. Contact lenderdesksupport@chromedata.com for more information.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is an optional parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LenderPurchaseTypeTiers"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/lender/{lenderId}/tiers": {
      "get": {
        "tags": [
          "lender-controller"
        ],
        "summary": "Returns a list of tiers for a specific lender",
        "operationId": "getLenderTiersUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "customerKey",
            "in": "query",
            "description": "Identifies your customer key. Specify this optional parameter if you want to use your own lender IDs instead of Chrome lender IDs. Mappings from Chrome Lender ID to custom customer ID must be provided to Chrome Data. Contact lenderdesksupport@chromedata.com for more information.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is an optional parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "lenderId",
            "in": "path",
            "description": "Identifies the lender for which to specify tiers. You can specify a Chrome lenderId (i.e., US-17). If you want to specify your own lenderId you can but you must also specify a customerKey.\nIf the lender sent in the response does not return tiers data, an error is thrown. For example, some lenders returned in the Lender Tiers response do not have tiers associated with them. If you try to pass one of those lenders in this request, a 404 error is thrown.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseTypeTiers"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/lenderDetails/{countryDivision}/{vehicleStatus}": {
      "get": {
        "tags": [
          "lender-details-controller"
        ],
        "summary": "For users desking deals for end-consumers, they need access to all program, incentive and lender rule & fee information to determine the front-end and back-end of a deal. With our /lenderDetails endpoint, users have the ability to lookup all lender rule & fee information related to the particular division their vehicle is from. All lender rule & fee information is grouped together by lenderType (captive, affiliate & independent) and transactionType (lease or finance).",
        "operationId": "getRuleAndFeesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "countryDivision",
            "in": "path",
            "description": "Path Variable Description - Unique, 4 character code representing vehicle country and division. First two characters represent country (US or CA) and last two characters represent division code (i.e. Nissan - NI, HY = Hyundai).",
            "required": true,
            "type": "string",
            "x-example": "USNI or USHY."
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "vehicleStatus",
            "in": "path",
            "description": "Status representing what vehicle type of information user would like to see.",
            "required": true,
            "type": "string",
            "x-example": "New, Used or CPOV "
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LenderDetailsResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/lenderPrograms/{vehicleId}/{zipCode}": {
      "post": {
        "tags": [
          "program-and-rebates-controller"
        ],
        "summary": "Returns a list of programs and rebates for the specified vehicleID and Zip Code",
        "operationId": "getListOfProgramsAndRebatesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "query",
            "description": "bundleId",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "conditionMet",
            "in": "query",
            "description": "Similar to the qualificationsMet attribute, the conditionsMet attribute represents if the program is applicable to the specific person looking to purchase the vehicle and refers to if their characteristic’s qualify them for the program. These characteristics refer to specific previous ownership qualification.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is a required parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "12345"
          },
          {
            "name": "debug",
            "in": "query",
            "description": "debug",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "distancePerYear",
            "in": "query",
            "description": "An optional parameter to filter lease transactions with lower mileage restrictions.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "allowEmptyValue": false,
            "x-example": 1500
          },
          {
            "name": "onlyNational",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only national programs should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "name": "previousOwnershipDetails",
            "in": "query",
            "description": "An optional parameter that when set to false, the additional vehicle details related to the previous ownership programs will not be returned in the response.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "qualificationsMet",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only programs with vehicle options matching the request should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "in": "body",
            "name": "request",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LenderProgramsRequest"
            }
          },
          {
            "name": "transactionId",
            "in": "header",
            "description": "Identifies an optional id that you can pass in the header of every request. It is recorded with the server-side operations log and returned in the response. When you find an error or an unexpected response (i.e., an empty response body), you can contact the help desk with the transaction id, and they can trace the error through the log files.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Identifies the vehicle for which you want lender programs and rebates returned. Currently, styleIDs and VINs are supported (i.e., 392526). VINs must contain all 17 characters.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zipCode",
            "in": "path",
            "description": "Identifies the zip code for which you want lender programs and rebates returned (i.e., 85711).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LenderProgramsResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/lenders": {
      "get": {
        "tags": [
          "lender-controller"
        ],
        "summary": "Returns a list of lenders",
        "operationId": "getLendersUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "customerKey",
            "in": "query",
            "description": "Identifies your customer key. Use this optional parameter if you want your own lender IDs instead of Chrome lender IDs returned in the response. Mappings from Chrome Lender ID to custom customer ID must be provided to Chrome Data. Contact lenderdesksupport@chromedata.com for more information.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is an optional parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Lender"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/rebates/{vehicleId}/{zipCode}": {
      "get": {
        "tags": [
          "program-and-rebates-controller"
        ],
        "summary": "Returns a list of OEM rebates for a specific vehicle and zip/postal code.",
        "operationId": "getRebatesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "bundleId",
            "in": "query",
            "description": "bundleId",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "customerKey",
            "in": "query",
            "description": "Identifies your customer key. Use this optional parameter if you want your own lender IDs instead of Chrome lender IDs returned in the response. Mappings from Chrome Lender ID to custom customer ID must be provided to Chrome Data. Contact lenderdesksupport@chromedata.com for more information.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "date",
            "in": "query",
            "description": "If this value is set, the incentives returned will be valid for that date. For example, 2018-01-31. If this date is not set, the current incentives as of today’s date are returned. Incentives are available up to 30 days passed their expiry, provided they have not been replaced by a current value.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is a required parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "x-example": "12345"
          },
          {
            "name": "debug",
            "in": "query",
            "description": "debug",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false
          },
          {
            "name": "onlyNational",
            "in": "query",
            "description": "An optional parameter that when set to True indicates only national programs should be returned.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": "false"
          },
          {
            "name": "previousOwnershipDetails",
            "in": "query",
            "description": "An optional parameter that when set to false, the additional vehicle details related to the previous ownership programs will not be returned in the response.",
            "required": false,
            "type": "boolean",
            "allowEmptyValue": false,
            "x-example": true
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "term",
            "in": "query",
            "description": "Identifies a comma delimited list of terms to be returned. If this parameter is not set, all terms are returned (i.e., [24,36,41]).",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "transType",
            "in": "query",
            "description": "Allows you to filter rebates to only those that are qualified for this transaction type. Available values for this field are Lease, Loan, or Cash. If this field is not set, all Cash rebates are returned.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "transactionId",
            "in": "header",
            "description": "Identifies an optional id that you can pass in the header of every request. It is recorded with the server-side operations log and returned in the response. When you find an error or an unexpected response (i.e., an empty response body), you can contact the help desk with the transaction id, and they can trace the error through the log files.",
            "required": false,
            "type": "string"
          },
          {
            "name": "vehicleId",
            "in": "path",
            "description": "Identifies the vehicle for which you want rebates returned. Currently, Chrome styleIDs and VINs are supported (i.e., 392526).",
            "required": true,
            "type": "string"
          },
          {
            "name": "vehicleStatus",
            "in": "query",
            "description": "Allows you to filter rebates to only those that are qualified for this vehicle status. Available values for this field are New, Used, CPOV and New - Vin Specific. If this field is not set, all programs with New vehicle status are returned.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "new",
            "allowEmptyValue": false
          },
          {
            "name": "zipCode",
            "in": "path",
            "description": "Identifies the zip code for which you want rebates returned (i.e., 85711).",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RebatesResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/releasedData": {
      "get": {
        "tags": [
          "release-data-controller"
        ],
        "summary": "Returns information pertaining to the latest update of the incentive data by country, division and year combination",
        "operationId": "getReleaseDataUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "countryCodes",
            "in": "query",
            "description": "Identifies a comma-separated list of country codes for which to return release data. Default value is All which will return all countries based on your agreement.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "All",
            "allowEmptyValue": false
          },
          {
            "name": "customerKey",
            "in": "query",
            "description": "Identifies your customer key. Use this optional parameter if you want your own lender IDs instead of Chrome lender IDs returned in the response. Mappings from Chrome Lender ID to custom customer ID must be provided to Chrome Data. Contact lenderdesksupport@chromedata.com for more information.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is an optional parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "divisionCodes",
            "in": "query",
            "description": "Identifies a comma-separated list of division codes for which to return release data. Default value is All which will return all divisions based on your agreement.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "All",
            "allowEmptyValue": false
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "years",
            "in": "query",
            "description": "Identifies a comma-separated list of years for which to return release data. Default value is All which will return all years based on your agreement.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "default": "All",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReleaseDataResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/repPostalCodes/{countryCode}/{division}/{modelYear}": {
      "get": {
        "tags": [
          "release-data-controller"
        ],
        "summary": "Look up endpoint allowing the user to submit a country, division and model year, with the response returning all representative postal codes (encompassed by all matching region postal codes) matching the submitted parameters.",
        "operationId": "getRepPostalCodesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "Identifies a country code for which to return postalCode data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is an optional parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "division",
            "in": "path",
            "description": "Identifies a division code for which to return postalCode data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelYear",
            "in": "path",
            "description": "Identifies a year for which to return postalCode data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegionResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/styleIDs/{countryCode}/{division}/{modelYear}": {
      "get": {
        "tags": [
          "release-data-controller"
        ],
        "summary": "Look up endpoint allowing the user to submit a country, division and model year, with the response returning all vehicles by style ID matching the submitted parameters.",
        "operationId": "getVehicleSetUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "description": "Identifies a country code for which to return vehicles by style ID data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "dealerId",
            "in": "query",
            "description": "This is an optional parameter for this operation. If your contract is based upon location, the dealerID must contain the location identifier you use. If your contract is transaction based, simply pass in the company name as the ID.  Passing it in the request does not affect the response.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "division",
            "in": "path",
            "description": "Identifies a division code for which to return vehicles by style ID data.",
            "required": true,
            "type": "string"
          },
          {
            "name": "modelYear",
            "in": "path",
            "description": "Identifies a year for which to return vehicles by style ID data.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "profileKey",
            "in": "query",
            "description": "An optional parameter that identifies a specific application profile definition. For example, you may have two incentive profiles, one that includes dealer facing incentives and one that filters them out. If not specified the default profile is used.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StyleIdResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "Advanced": {
      "type": "object",
      "properties": {
        "financialDisclosure": {
          "type": "string",
          "example": "$100 - $200 per Month per $1,000 Financed",
          "description": "Contains an estimated payment amount for APR rates only. Does not account for rate variation or final balloon payments (future value)."
        },
        "rangeBottom": {
          "type": "number",
          "format": "double",
          "example": 80.01,
          "description": "Contains the starting range of the Loan To Value."
        },
        "rangeTop": {
          "type": "number",
          "format": "double",
          "example": 100.01,
          "description": "Contains the ending range of the Loan To Value."
        },
        "value": {
          "type": "number",
          "example": 0.0028,
          "description": "Contains the program value (Money Factor, Number)."
        },
        "valueType": {
          "type": "string",
          "example": "MF",
          "description": "Contains the type of value (\"%\" or “mf”) for Percentage or Money Factor."
        }
      },
      "title": "Advanced",
      "description": "Contains an individual Advanced object that provides the Loan To Value range and the value."
    },
    "BundleDetail": {
      "type": "object",
      "properties": {
        "vehicleId": {
          "type": "string",
          "example": 403906,
          "description": "Contains a vehicleId."
        },
        "zipCode": {
          "type": "string",
          "example": 97232,
          "description": "Contains a zip/postal code."
        }
      },
      "title": "BundleDetail"
    },
    "BundleDetailsResponse": {
      "type": "object",
      "properties": {
        "traces": {
          "type": "array",
          "description": "Contains a list of all vehicle and zip/postal code combinations associated with the specified bundleId.",
          "items": {
            "$ref": "#/definitions/BundleDetail"
          }
        }
      },
      "title": "BundleDetailsResponse"
    },
    "BundleStatusResponse": {
      "type": "object",
      "properties": {
        "changedList": {
          "type": "array",
          "example": [
            "411269",
            "411267"
          ],
          "description": "Contains the list of vehicles or locations with data changes.",
          "items": {
            "type": "string"
          }
        },
        "changedTraces": {
          "type": "array",
          "example": [
            {
              "vehicleId": "403906",
              "zipCode": "97232"
            }
          ],
          "description": "Contains the list of vehicle and zip/postal code combinations with changes.",
          "items": {
            "$ref": "#/definitions/BundleDetail"
          }
        }
      },
      "title": "BundleStatusResponse"
    },
    "ConditionalOptimization": {
      "type": "object",
      "properties": {
        "applyDealerCash": {
          "type": "integer",
          "format": "int32",
          "example": 30,
          "description": "When a positive integer below 100 is entered, all dealer cash's where the requirements have been met will be considered in the stackability calculation for maxConfiguredCash with the percent provided representing the dealer cash to be applied. (i.e. if a user enters \"20\" and there is a $10,000 dealer cash available, 20% * $10,000 = $2,000, meaning the $2,000 will be considered in creating the maxConfiguredCash value.)"
        },
        "includeGroupAffiliations": {
          "type": "array",
          "example": [
            31,
            38
          ],
          "description": "When one or more group affiliation IDs are included in the request, those programs requiring a specific group affiliation where the requirement has been met will be considered in the stackability calculation for the maxConfiguredCash.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "includePreviousOwnerships": {
          "type": "array",
          "example": [
            41,
            42
          ],
          "description": "When one or more previous ownership IDs are included in the request, programs requiring a specific previous ownership requirement where the requirement has been met will be considered in the stackability calculation for the maxConfiguredCash.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "includePrograms": {
          "type": "array",
          "example": [
            20000497,
            20179764
          ],
          "description": "When one or more program IDs are included in the request, those programs will be considered in the stackability calculation for the maxConfiguredCash.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "onlyNational": {
          "type": "boolean",
          "example": false,
          "description": "When set to true, only nationally available programs will be taken into consideration when calculating the maxConfiguredCash value. When not set or set to false, all national and regional programs will be considered in the stackability calculation for the maxConfiguredCash. The “onlyNational” query string parameter can be set to false, with the “onlyNational” parameter in the conditional optimization body being set to true meaning regional and national programs will be returned in the response, but the maxConfiguredCash value will only consider nationally available programs."
        }
      },
      "title": "ConditionalOptimization",
      "description": "Identifies a list of conditions to return for maxConfiguredCash."
    },
    "ConsumerCash": {
      "type": "object",
      "properties": {
        "guaranteedCashPrograms": {
          "type": "array",
          "example": [
            18375579,
            18481934
          ],
          "description": "Contains a list of guaranteed cash programs associated with cash/loan/lease program that can be applied to all buyers.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "conditionalCashPrograms": {
          "type": "array",
          "example": [
            17855176,
            18393602
          ],
          "description": "Contains a list of cash programs associated with cash/loan/lease program but available for certain buyers only.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "dealerCashPrograms": {
          "type": "array",
          "example": [
            18336585,
            18048884
          ],
          "description": "Contains a list of dealer programs associated with cash/loan/lease program.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalPrograms": {
          "type": "array",
          "example": [
            17855865,
            18412658
          ],
          "description": "Contains a list of other programs associated with cash/loan/lease program.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "title": "ConsumerCash",
      "description": "Contains a list of cash offers associated with the vehicle and zip code."
    },
    "DivisionCode": {
      "type": "object",
      "properties": {
        "divCode": {
          "type": "string"
        },
        "divCodeDesc": {
          "type": "string"
        },
        "manuCode": {
          "type": "string"
        },
        "manuDesc": {
          "type": "string"
        }
      },
      "title": "DivisionCode"
    },
    "DivisionCodeResponse": {
      "type": "object",
      "properties": {
        "divCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DivisionCode"
          }
        }
      },
      "title": "DivisionCodeResponse"
    },
    "EnhancedIncentivesOfferResponse": {
      "type": "object",
      "properties": {
        "statuses": {
          "type": "array",
          "description": "contains the code and message of the response",
          "items": {
            "$ref": "#/definitions/Status"
          }
        },
        "vehicles": {
          "type": "array",
          "description": "Based on the vehicle id sent in the request, this field contains a list of the matching vehicles that are processed. If the vehicle id sent is a style id, this field always contains one entry. However, if the vehicle id sent is a VIN, and it cannot be decoded to a single style id, all the matching styles that are processed are returned.",
          "items": {
            "$ref": "#/definitions/lenderProgram.Vehicle"
          }
        },
        "vehicleIdGrid": {
          "type": "array",
          "description": "Contains a list of styleIds and their associated incentive programs. If a styleId is sent as the request vehicle, only one styleId is listed in the vehicleGrid along with its incentive programs. If a VIN is sent as the request vehicle, multiple styleIds can be returned in the vehicleGrid along with their incentive programs.",
          "items": {
            "$ref": "#/definitions/VehicleGrid"
          }
        },
        "offers": {
          "type": "array",
          "description": "Contains a list of cash offer programs.",
          "items": {
            "$ref": "#/definitions/Offer"
          }
        },
        "consumerCash": {
          "description": "Contains a list of cash offers associated to the vehicle and zip.",
          "$ref": "#/definitions/ConsumerCash"
        },
        "captiveGrid": {
          "type": "array",
          "example": "Lease",
          "description": "Contains a list of captive incentive programs by transaction type.",
          "items": {
            "$ref": "#/definitions/TransTypeGrid"
          }
        },
        "nonCaptiveGrid": {
          "type": "array",
          "example": "US-11",
          "description": "Contains a list of non-captive incentive programs.",
          "items": {
            "$ref": "#/definitions/ProgramByLenderGrid"
          }
        },
        "stackabilityGrid": {
          "type": "array",
          "description": "Contains the stackability data.",
          "items": {
            "$ref": "#/definitions/ProgramStackability"
          }
        },
        "lenders": {
          "type": "array",
          "description": "Contains the ID of the lender.",
          "items": {
            "$ref": "#/definitions/LenderProgramsAndRebates"
          }
        },
        "oemRebates": {
          "type": "array",
          "description": "Contains possible OEM specific rebates.",
          "items": {
            "$ref": "#/definitions/Program"
          }
        },
        "programs": {
          "type": "array",
          "description": "Contains a list of incentive programs by their corresponding lenderId.",
          "items": {
            "$ref": "#/definitions/ProgramByLenderId"
          }
        },
        "additionalPrograms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Program"
          }
        }
      },
      "title": "EnhancedIncentivesOfferResponse"
    },
    "EnhancedIncentivesResponse": {
      "type": "object",
      "properties": {
        "statuses": {
          "type": "array",
          "description": "contains the code and message of the response",
          "items": {
            "$ref": "#/definitions/Status"
          }
        },
        "vehicles": {
          "type": "array",
          "description": "Based on the vehicle id sent in the request, this field contains a list of the matching vehicles that are processed. If the vehicle id sent is a style id, this field always contains one entry. However, if the vehicle id sent is a VIN, and it cannot be decoded to a single style id, all the matching styles that are processed are returned.",
          "items": {
            "$ref": "#/definitions/lenderProgram.Vehicle"
          }
        },
        "vehicleIdGrid": {
          "type": "array",
          "description": "Contains a list of styleIds and their associated incentive programs. If a styleId is sent as the request vehicle, only one styleId is listed in the vehicleGrid along with its incentive programs. If a VIN is sent as the request vehicle, multiple styleIds can be returned in the vehicleGrid along with their incentive programs.",
          "items": {
            "$ref": "#/definitions/VehicleGrid"
          }
        },
        "captiveGrid": {
          "type": "array",
          "example": "Lease",
          "description": "Contains a list of captive incentive programs by transaction type.",
          "items": {
            "$ref": "#/definitions/TransTypeGrid"
          }
        },
        "nonCaptiveGrid": {
          "type": "array",
          "example": "US-11",
          "description": "Contains a list of non-captive incentive programs.",
          "items": {
            "$ref": "#/definitions/ProgramByLenderGrid"
          }
        },
        "stackabilityGrid": {
          "type": "array",
          "description": "Contains the stackability data.",
          "items": {
            "$ref": "#/definitions/ProgramStackability"
          }
        },
        "lenders": {
          "type": "array",
          "description": "Contains the ID of the lender.",
          "items": {
            "$ref": "#/definitions/LenderProgramsAndRebates"
          }
        },
        "oemRebates": {
          "type": "array",
          "description": "Contains possible OEM specific rebates.",
          "items": {
            "$ref": "#/definitions/Program"
          }
        },
        "additionalPrograms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Program"
          }
        }
      },
      "title": "EnhancedIncentivesResponse"
    },
    "FeeRule": {
      "type": "object",
      "properties": {
        "geographies": {
          "type": "array",
          "description": "Object representing the location in which the rule / fee is applied.",
          "items": {
            "$ref": "#/definitions/Geography"
          }
        }
      },
      "title": "FeeRule"
    },
    "GeneralRule": {
      "type": "object",
      "properties": {
        "additionalInfo": {
          "type": "string",
          "description": "Full text representation of fee / rule from lender documentation."
        },
        "deliveryType": {
          "type": "array",
          "description": "Array data type where the values are “Subvented”, “Non-Subvented”, or both. Matching the deliveryType for the rule/fee with the deliveryType of rate information in our other endpoints, will allow for accurate payments to be calculated.",
          "items": {
            "type": "string"
          }
        },
        "lenderDetail": {
          "type": "string",
          "description": "Rule / Fee name."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeeRule"
          }
        }
      },
      "title": "GeneralRule"
    },
    "Geography": {
      "type": "object",
      "properties": {
        "geoDescription": {
          "type": "string",
          "description": "Regular expression like representation of geography marketing name."
        },
        "geoName": {
          "type": "string",
          "description": "Marketing name of regions where the fee / rule is applied."
        },
        "vehicle": {
          "type": "array",
          "description": "Object representing the vehicles in which the rile / fee is applied.",
          "items": {
            "$ref": "#/definitions/lenderDetail.Vehicle"
          }
        }
      },
      "title": "Geography"
    },
    "LTVRule": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "Object containing details about specific Loan to Value rules.",
          "items": {
            "$ref": "#/definitions/TermDetail"
          }
        },
        "fico": {
          "type": "string",
          "description": "Attribute representing what FICO range / credit score range the rule or fee should be applied to."
        },
        "geographies": {
          "type": "array",
          "description": "Object representing the location in which the rule / fee is applied.",
          "items": {
            "$ref": "#/definitions/Geography"
          }
        },
        "tiers": {
          "type": "array",
          "description": "Attribute representing what tier range the rule or fee should be applied to.",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "LTVRule"
    },
    "Lender": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "example": "US-11",
          "description": "Contains the identifier of the lender."
        },
        "countryDivisions": {
          "type": "array",
          "example": [
            "USAC - Acura",
            "USBM - BMW"
          ],
          "description": "Contains a list of all country divisions that are associated with each Purchase Type Tier",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "example": "Toyota Financial Services",
          "description": "Contains the textual description of the lender."
        },
        "isOem": {
          "type": "boolean",
          "example": true,
          "description": "Contains a flag that when set to True indicates that the lender is an OEM directed lender."
        },
        "oemCountryDivisions": {
          "type": "array",
          "example": [
            "USTO - Toyota",
            "USSC - Scion"
          ],
          "description": "Contains a list of country-divisions that treats this lender as an OEM.",
          "items": {
            "type": "string"
          }
        },
        "providesCash": {
          "type": "boolean",
          "example": true,
          "description": "Contains a flag that when set to True indicates that the lender provides Cash rebates."
        },
        "providesLease": {
          "type": "boolean",
          "example": false,
          "description": "Contains a flag that when set to True indicates that the lender provides leases."
        },
        "providesRetail": {
          "type": "boolean",
          "example": true,
          "description": "Contains a flag that when set to True indicates that the lender provides Retail Finance rebates."
        }
      },
      "title": "Lender"
    },
    "LenderData": {
      "type": "object",
      "properties": {
        "lease": {
          "description": "Object containing all rules and fees related to the transaction type of lease.",
          "$ref": "#/definitions/ProgramDetail"
        },
        "lenderId": {
          "type": "string",
          "description": "Unique identifier of lender."
        },
        "lenderName": {
          "type": "string",
          "description": "Marketing name of lender."
        },
        "loan": {
          "description": "Object containing all rules and fees related to the transaction type of loan.",
          "$ref": "#/definitions/ProgramDetail"
        }
      },
      "title": "LenderData"
    },
    "LenderDetail": {
      "type": "object",
      "properties": {
        "affiliate": {
          "type": "array",
          "description": "For the division & vehicle status submitted to the endpoint, this object denotes the applicable affiliate lender (if there is one for the division) for the division and all rules and fees related to that lender.",
          "items": {
            "$ref": "#/definitions/LenderData"
          }
        },
        "captive": {
          "type": "array",
          "description": "For the division & vehicle status submitted to the endpoint, this object denotes the applicable captive lender for the division and all rules and fees related to that lender.",
          "items": {
            "$ref": "#/definitions/LenderData"
          }
        },
        "independent": {
          "type": "array",
          "description": "For the division & vehicle status submitted to the endpoint, this object denotes the applicable independent lenders for the division and all rules and fees related to each lender.",
          "items": {
            "$ref": "#/definitions/LenderData"
          }
        }
      },
      "title": "LenderDetail"
    },
    "LenderDetailsResponse": {
      "type": "object",
      "properties": {
        "lenderDetails": {
          "$ref": "#/definitions/LenderDetail"
        }
      },
      "title": "LenderDetailsResponse"
    },
    "LenderProgramsAndRebates": {
      "type": "object",
      "properties": {
        "lenderId": {
          "type": "string",
          "example": "US-17",
          "description": "Contains a lender identifier."
        },
        "programs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Program"
          }
        },
        "rebates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Program"
          }
        }
      },
      "title": "LenderProgramsAndRebates"
    },
    "LenderProgramsRequest": {
      "type": "object",
      "properties": {
        "creditScore": {
          "type": "integer",
          "format": "int32",
          "example": 300,
          "description": "Allows the user to specify the credit / FICO score of the user.  Our system automatically maps all credit / FICO scores to lender tier information and refines our response to only include programs and program information as it pertains to the tier in which the user qualifies for. If a value is not specified, all tier information will be returned."
        },
        "customerKey": {
          "type": "string",
          "example": "",
          "description": "Identifies your customer key. Specify this optional parameter if you want your own lender IDs instead of Chrome lender IDs."
        },
        "lenders": {
          "type": "array",
          "example": [
            "US-11",
            "US-17"
          ],
          "description": "Allows the user to input one or more lender IDs to filter the response to include only programs offered by the specified lenders. If a value is not specified, programs from all lenders are returned.",
          "items": {
            "type": "string"
          }
        },
        "optionCodes": {
          "type": "array",
          "example": [
            "WPT",
            "WPS",
            "PFK"
          ],
          "description": "Includes only the programs with the given Option Codes to the configured cash programs.",
          "items": {
            "type": "string"
          }
        },
        "previousOwnershipStyleID": {
          "type": "integer",
          "format": "int32",
          "example": 414641,
          "description": "This parameter allows the user to enter their current vehicle style ID to qualify and validate if a customer actually qualifies for specific previous ownership programs. Entering a value here helps power the “conditionsMet” attribute in the programs object."
        },
        "programDate": {
          "type": "string",
          "example": "2018-01-31",
          "description": "Allows the user to input a date and filter the response to include only programs valid as of that date. If the date is not set, the current incentives as of today’s date are returned."
        },
        "ratesType": {
          "type": "string",
          "example": "Standard",
          "description": "\tAllows the user to specify what type of rate information they would like to see in the response - Special Rates or Standard Rates. Special rates are often regional rate programs so for high-level advertising purposes on portal sites, filtering for standard rate programs is essential. (To see only programs that can be applied on a national level, the national parameter attribute should be used).\n \nIf no rate type is specified, all rate programs will be returned to the user."
        },
        "rebates": {
          "type": "array",
          "example": [
            7224110,
            7117290
          ],
          "description": "If set, identifies the rebates to be returned. By default, all available rebates from the OEM for the transaction type are returned.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "terms": {
          "type": "array",
          "example": [
            12,
            36,
            41
          ],
          "description": "Allows the user to specify the length of the lease or loan program in months they would like to enter into. By entering a value, or multiple values, for this parameter, the response will be restricted to only include programs and program information as it relates to term length specified. If no value is entered for this parameter, all term information will be returned.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "tiers": {
          "type": "array",
          "description": "Allowing users to specify particular tiers by lender to refine the response to only programs offered by the specified lender and the specified tier. If no value is entered for this parameter, all programs across all lenders and tiers will be returned.",
          "items": {
            "$ref": "#/definitions/LenderProgramsRequestTiers"
          }
        },
        "transType": {
          "type": "string",
          "example": "Lease",
          "description": "Allows the user to specify what type of transaction dealer information they would like to receive in the response (lease, loan or cash). When an input is not given for this parameter, deal scenarios for all transaction types will be returned in the response - lease and loan deal scenarios will populate in the offers object of the response, with cash purchase options populating in the consumerCash object of the response."
        },
        "vehicleStatus": {
          "type": "array",
          "example": "New",
          "description": "Allows the user to specify what type of vehicle information they would like to see based on the type of vehicle they are looking to get into - New, Used, Certified Pre-Owned (CPOV), or New - VIN Specific.  If no value is entered for this parameter, only programs relating to New vehicles will be returned.",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "LenderProgramsRequest",
      "description": "The following are input parameters for making requests to this web service."
    },
    "LenderProgramsRequestTiers": {
      "type": "object",
      "properties": {
        "lenderId": {
          "type": "string",
          "example": "US-17",
          "description": "Identifies the lender for which to specify tiers."
        },
        "lenderTiers": {
          "type": "array",
          "example": [
            "T1",
            "T2"
          ],
          "description": "Identifies the tier names to include.",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "LenderProgramsRequestTiers"
    },
    "LenderProgramsResponse": {
      "type": "object",
      "properties": {
        "statuses": {
          "type": "array",
          "description": "contains the code and message of the response",
          "items": {
            "$ref": "#/definitions/Status"
          }
        },
        "vehicles": {
          "type": "array",
          "description": "Based on the vehicle id sent in the request, this field contains a list of the matching vehicles that are processed. If the vehicle id sent is a style id, this field always contains one entry. However, if the vehicle id sent is a VIN, and it cannot be decoded to a single style id, all the matching styles that are processed are returned.",
          "items": {
            "$ref": "#/definitions/lenderProgram.Vehicle"
          }
        },
        "stackabilityGrid": {
          "type": "array",
          "description": "Contains the stackability data.",
          "items": {
            "$ref": "#/definitions/ProgramStackability"
          }
        },
        "lenders": {
          "type": "array",
          "description": "Contains the ID of the lender.",
          "items": {
            "$ref": "#/definitions/LenderProgramsAndRebates"
          }
        },
        "oemRebates": {
          "type": "array",
          "description": "Contains possible OEM specific rebates.",
          "items": {
            "$ref": "#/definitions/Program"
          }
        },
        "additionalPrograms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Program"
          }
        }
      },
      "title": "LenderProgramsResponse"
    },
    "LenderPurchaseTypeTiers": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "example": "US-11",
          "description": "Contains the identifier of the lender."
        },
        "countryDivisions": {
          "type": "array",
          "example": [
            "USAC - Acura",
            "USBM - BMW"
          ],
          "description": "Contains a list of all country-divisions that are using this lender, which includes, but is not limited to, oemCountryDivisions.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "example": "Toyota Financial Services",
          "description": "Contains the textual description of the lender."
        },
        "isOem": {
          "type": "boolean",
          "example": true,
          "description": "Contains a flag that when set to True indicates that the lender is an OEM directed lender."
        },
        "oemCountryDivisions": {
          "type": "array",
          "example": [
            "USTO - Toyota",
            "USSC - Scion"
          ],
          "description": "Contains a list of country-divisions that treats this lender as an OEM.",
          "items": {
            "type": "string"
          }
        },
        "providesCash": {
          "type": "boolean",
          "example": true,
          "description": "Contains a flag that when set to True indicates that the lender provides Cash rebates."
        },
        "providesLease": {
          "type": "boolean",
          "example": false,
          "description": "Contains a flag that when set to True indicates that the lender provides leases."
        },
        "providesRetail": {
          "type": "boolean",
          "example": true,
          "description": "Contains a flag that when set to True indicates that the lender provides Retail Finance rebates."
        },
        "purchaseTypeTiers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PurchaseTypeTiers"
          }
        }
      },
      "title": "LenderPurchaseTypeTiers"
    },
    "MileageRestriction": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "example": "2017-09-31",
          "description": "Contains the effective Date of MileageRestriction."
        },
        "expiryDate": {
          "type": "string",
          "example": "2017-10-31",
          "description": "Contains the expiry Date of MileageRestriction."
        },
        "isExpired": {
          "type": "boolean",
          "example": true,
          "description": "Contains a flag that when set to true indicates that the residual program being stacked is expired. This flag is not shown if the residual program is not expired."
        },
        "qualificationsMet": {
          "type": "boolean",
          "example": false,
          "description": "Contains a flag corresponding to option codes associated with the vehicle requested."
        },
        "requirements": {
          "type": "string",
          "example": "REQUIRES manual air conditioning",
          "description": "Contains the qualifying criteria for a particular mileage and residual combination."
        },
        "values": {
          "type": "array",
          "example": "\"mileage\": 12000,\n \"residual\": 55.00",
          "description": "Contains the residual/mileage values.",
          "items": {
            "$ref": "#/definitions/Values"
          }
        },
        "vehicleAttribute": {
          "type": "string",
          "example": "991-*",
          "description": "Contains the option codes associated with the vehicle requested."
        },
        "vehicleIds": {
          "type": "array",
          "example": [
            399266,
            399267
          ],
          "description": "Contains the list of style ids associated with the residuals.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "title": "MileageRestriction",
      "description": "Contains a residual record with its associated mileage restriction."
    },
    "Offer": {
      "type": "object",
      "properties": {
        "programDescription": {
          "type": "string",
          "example": "Toyota US Special APR Rates - National excl. Southeast",
          "description": "Contains the description of the program."
        },
        "programId": {
          "type": "integer",
          "format": "int32",
          "example": 6332750,
          "description": "Contains a unique, system-generated id for the program."
        },
        "category": {
          "type": "string",
          "example": "Stand Alone Cash",
          "description": "Contains the category description (i.e., Bonus Cash)."
        },
        "maxGuaranteedCashPrograms": {
          "type": "array",
          "example": [
            [
              18375579,
              18481934
            ],
            [
              18481956
            ]
          ],
          "description": "Contains a list of stackable combinations of guaranteed cash program IDs associated with cash/loan/lease program that can be applied to all buyers.",
          "items": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "useConsumerCash": {
          "type": "boolean",
          "example": true,
          "description": "Contains true and false in offers for non-captive and captive lenders respectively."
        },
        "institutionDesc": {
          "type": "string",
          "example": "Toyota Financial Services",
          "description": "Contains the textual description of the lender.\""
        },
        "maxGuaranteedCashTotal": {
          "type": "number",
          "example": "1,750",
          "description": "Contains the total cash of the max guaranteed cash programs combinations."
        },
        "guaranteedCashPrograms": {
          "type": "array",
          "example": [
            18375579,
            18481934
          ],
          "description": "Contains a list of guaranteed cash programs associated with cash/loan/lease program that can be applied to all buyers.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "conditionalCashPrograms": {
          "type": "array",
          "example": [
            17855176,
            18393602
          ],
          "description": "Contains a list of cash programs associated with cash/loan/lease program but available for certain buyers only.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "dealerCashPrograms": {
          "type": "array",
          "example": [
            18336585,
            18048884
          ],
          "description": "Contains a list of dealer programs associated with cash/loan/lease program.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "maxConfiguredCashPrograms": {
          "type": "array",
          "example": [
            [
              18375579,
              18481934
            ],
            [
              18481956
            ]
          ],
          "description": "Contains a list of stackable combinations of configured cash program IDs associated with cash/loan/lease program that can be applied to buyers.",
          "items": {
[...]
